// 1. Modal Helper specific Styles
._modalHelper{

    @media (min-width: 768px) {
        ._small-modal{
            width: 35% !important;
        }  
    }
}


// 2. LightboxHelper specific Styles
div._LightboxHelper{
    width: 160px;
    height: 160px;
    display: inline-block;
    padding: 5px;
    position: relative;    
}