<!DOCTYPE html>
<html>
<head>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	
	<style>
		.app_preloader{			
			position: absolute;
			left: 50%;
			top: 40%;
			transform: translateY(-50%) translateX(-50%);
		}
	</style>	
</head>
<body>
	<div id="content">
		<img class="app_preloader" width="150" src="https://camo.githubusercontent.com/32c7c4a15e2ff3600f7e808f2f7997ece27cd572/687474703a2f2f692e696d6775722e636f6d2f484333613675332e676966">		
	</div>
</body>
</html>