._articles{

    .component_header{
        color: #8e24aa 
    }

    .carousel.carousel-slider{
        height: 250px
    }

    .magicDiv{
        width: 100px;
        height: 75px;
        background: #8e24aa;
        transition: all 0.3s ease;
    }
    .magicDiv:hover{
        height: 100px;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }

}