._movies{
    
    .component_header{
        color: #FF0000
    }
    .inline-block-item{        
        display: inline-block;
    }
    .min-height-70{
        min-height: 70px !important;
        max-height: 70px !important;
    }

}