._query-builder{
    .error{
        color: #FF0000
    }

    .error-icon{
        position: absolute;
        top: 25px;
        right: 10px;
    }   


    .suggestion-list{
        display: block;
        clear: both;
        margin-top: 0px;
        margin-left: 10px;
    } 

    .suggestion-list-item{
        display: inline-block;
        padding: 3px 10px;
        background: #eaeaea;
        margin-left: 5px;
    }
}