/*
*   Custom styling / Overriding Materialize
*/


*{
    font-family: 'Raleway', sans-serif;
}
.icon_loader{
    background: #e2e2e2;
    width: 150px;
    height: 150px;

    img{
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 90% !important;
    }
}