/*
*	Utility classes
*   1. Dimension
*   2. Alignment
*   3. Margin & Padding
*   4. Position
*   5. Misc
*/


//  1. Dimension
.full-height, .full-height-100{
    min-height: 100vh
}
.full-height-90{
    min-height: 90vh
}
.full-height-80{
    min-height: 80vh
}
.full-height-70{
    min-height: 70vh
}
.full-height-60{
    min-height: 60vh
}
img.width150{
    width: 150px;
}
img.width110{
    width: 110px;
}


//  2. Alignment
.horizontal-center-align{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

//  3. Margin & Padding
.no-margin{
    margin: 0px;
}
.no-margin-top{
    margin-top: 0px;
}
.margin-top-10{
    margin-top: 10px;
}


//  4. Position
.absolute{
    position: absolute !important;
}

.relative{
    position: relative !important;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.absolute-center-horizontal{
    position: absolute;    
    left: 50%;
    transform: translateX(-50%);
}

//  5. Misc
.pointer{
    cursor: pointer
}